//colors
$white: #EEEEEE;
$light-gray: #537188;
$flesh: #E1D4BB;
$dark-gold: #CBB279;

//font-size
$mobileRegular: 14px;
$desktopRegular: 16px;

//media breakpoints
$mobile: 586px;
$tabletSmall: 768px;
$tablet: 992px;
$desktop: 1280px;