//colors
$white: #efefef;
$flesh: #E1D4BB;
$dark-gold: #CBB279;
$light-gray: #537188;
$black: #000;

//font-size
$mobileRegularFont: 14px;
$desktopRegularFont: 16px;

//headline
$mobileHeadline: 24px;
$tabletHeadline: 28px;
$desktopHeadline: 32px;

//media breakpoints
$mobile: 586px;
$tabletSmall: 768px;
$tablet: 992px;
$desktop: 1280px;